<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.net>
    <defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>

  </system.net>-->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behave">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Servidor.Logger" behaviorConfiguration="behave">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:7005"/>
          </baseAddresses>
        </host>
        <endpoint address="http://LT-PER-00045158.am.tmrk.corp:7004/logger"
                   binding="basicHttpBinding"
                   contract="Compartir.ILog">          
        </endpoint>
        <endpoint address="mex"  binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>      
    </services>
    
  </system.serviceModel>
</configuration>