<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <trace enabled="true"/>
    </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basic">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behave">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="LogWebApp.LogService" behaviorConfiguration="behave">        
        <!--<endpoint address=""
                   binding="netTcpBinding"
                   contract="Compartir.ILog"> Factory="System.ServiceModel.Activation.WebServiceHostFactory"
        </endpoint>-->
        <!--<endpoint address="" contract="Compartir.ILogQuery" binding="webHttpBinding">
          
        </endpoint>-->
        <endpoint address=""
                   binding="basicHttpBinding" bindingConfiguration="basic"
                   contract="Compartir.ILog">
        </endpoint>
        <endpoint address="mex"  binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>
    
  </system.serviceModel>
</configuration>
