<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\NETWCF\NETWCF\DEMO01\Cliente\App_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\NETWCF\NETWCF\DEMO01\Cliente\App_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <!--<system.net>
    <defaultProxy>
        <proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
    
  </system.net>-->
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="LegacyServiceSoap" />
        <binding name="basic">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </basicHttpBinding>
      <netMsmqBinding>
        <binding name="queue" 
                 durable="true"
                 exactlyOnce="true" deadLetterQueue="Custom"
                 customDeadLetterQueue="net.msmq://localhost/private/logdead">
          <security mode="None">
            
          </security>
        </binding>
        <binding name="notran" durable="true" exactlyOnce="false">
          <security mode="None"></security>
        </binding>


      </netMsmqBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
    </diagnostics>
    <client>
      <endpoint address="net.msmq://localhost/private/logqueue"
        binding="netMsmqBinding" 
        bindingConfiguration="queue"
        contract="Compartir.ILog" 
        name="cliente" />
      
      <endpoint address="http://lt-per-00045158.am.tmrk.corp/LogWebApp/LogService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic"
        contract="Compartir.ILog" name="basic" />
      <endpoint address="http://localhost/LogWebApp/LegacyService.asmx"
        binding="basicHttpBinding" bindingConfiguration="LegacyServiceSoap"
        contract="legacyproxy.LegacyServiceSoap" name="LegacyServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>